<div class='form_sub'>
  <form align= 'center' action="/books" method="post">
    <h2 align= 'center'>Create New Book</h2>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div><label for="name">Title:</label>
      <input class ='form_text' type="text" id='name' name="name" />
      </div>
      <div><label for="author">Author:</label>
      <input class ='form_text' type="text" id='author' name="author" />
      </div>
      <div><label for="genre">Genre:</label>
      <input class ='form_text' type="text" id='genre' name="genre" />
      </div>
      <div><label for="pages">Number of Pages:</label>
      <input class ='form_text' type="text" id='pages' name="pages" />
      </div>
      <div><label for="year">Year Published</label>
      <input class ='form_text' type="text" id='year' name="year" />
      </div>
      <button type="submit" name="button">Submit</button>
  </form>
</div>
