<div class='form_sub'>
  <form align= 'center' action="/planets" method="post">
    <h2 align= 'center'>Create New Planet</h2>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div><label for="name">Planet Name:</label>
      <input class ='form_text' type="text" id='name' name="name" />
      </div>
      <div><label for="surface">Planet Surface:</label>
      <input class ='form_text' type="text" id='surface' name="surface" />
      </div>
      <div><label for="color">Planet Color:</label>
      <input class ='form_text' type="text" id='color' name="color" />
      </div>
      <button type="submit" name="button">Submit</button>
  </form>
</div>
