<form action="/videos" method="post">
  <label>Video Title</label>
  <input name="title" type="text" />

  <label>Video Embed Link</label>
  <textarea name="embed_code"></textarea>
  <button>create</button>
</form>
