<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Log In App</title>
</head>
<body>
  <% if logged_in? %>
    <form action='/session' method='post'>
      <input type='hidden' name='_method' value='delete' />
      <button>logout</button>
    </form>
  <% end %>

  <%= yield %>
</body>
</html>
