<div class='outer_form'>
  <div class='form_div'>
    <div align="center">
      <h2>This is the About page for AM/FM</h2>
      <p>This is a web app that links people to festivals.</p>
    </div>
  </div>
</div>
