<div class='outer_form'>
  <div>
    <div align="center" class='homepage main_content_video'>
      <div class='homepage_transparent'>
        <p>Born out of a desire to see people connect meaningfully with festivals and each other, AM~FM exists to provide this space.</p>
        <p>Whether you want to remember and share pivotal moments with friends or simply keep track of all the events you plan on attending in the future, we’ve got you covered.</p>
        <p>Link to friends or festival profiles, upload images or create and manage your own festival page.</p>
        <p>AM~FM, love what you do, do what you love.</p>
      <br>
      </div>
      <video playsinline autoplay muted loop id="homepage_video">
        <source src="/videos/burntimelapse.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>
