<h2 class='wrapper'>Festivals</h2>
<div class="wrapper">
  <% @festivals.each do |festival| %>
  <a href="/festival/<%= festival.id %>"><%= festival.print_values %>
    <figure class="image_grid">
      <img class="size_profile_small image_grid" src="<%= festival.image_url %>" />
    </figure>
  </a>
  <% end %>
</div>
