<div class='outer_form'>
  <div class='form_div'>
    <form action="/festivals" method="post">
      <h2 align= 'center'>Create New Festival</h2>
      <label for="name">Festival Name</label>
      <input class ='form_text' type="text" id='name' name="name" />
      <label for="location">Location</label>
      <input class ='form_text' type="text" id='location' name="location" />
      <label for="date">Date</label>
      <input class ='form_text' type="date" id='date' name="date" type='date' />
      <label for="cost">Cost</label>
      <input class ='form_text' type="text" id='cost' name="cost" />
      <label for="image_url">Image Url</label>
      <input class ='form_text' type="text" id='image_url' name="image_url" />
      <input class='form_submit' type="submit" value="Submit">
    </form>
  </div>
</div>
