<div class='outer_form'>
  <div>
    <div align="center" class='homepage main_content_video'>
      <div class='homepage_transparent'>
        <h2>AM~FM</h2>
        <h4>Alt Monkey Festival Management</h4>
        <p>Welcome to AM~FM.</p>
        <p>Link to friends or festival profiles, upload images or create and manage your own festival page.</p>
        <p>AM~FM, love what you do, do what you love.</p>
      <br>
      </div>
      <video playsinline autoplay muted loop id="homepage_video">
        <source src="/videos/burntimelapse.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>
