<div class='outer_form'>
  <div class='form_div'>
    <div align="center">
      <h2>Login</h2>
        <div class='login_error_message'>
          <%= @error_message %>
        </div>
        <br>
        <form action="/session" method="post">
          <label>username</label>
          <input name="username" type="text" />

          <label>password</label>
          <input name="password" type="password" />

          <button>login</button>
        </form>
    </div>
  </div>
</div>
