<div align="center">
  <h2>Login</h2>

  <form action="/session" method="post">
    <label>username</label>
    <input name="username" type="text" />

    <label>password</label>
    <input name="password" type="password" />

    <button>login</button>
  </form>
</div>
