<div class='outer_form'>
  <div class='form_div'>
    <form action="/users" method="post">
      <h2 align= 'center'>Create New User</h2>
      <label for="username">Username</label>
      <input class ='form_text' type="text" id='username' name="username" />
      <label for="password">Password</label>
      <input class ='form_text' type="password" id='password' name="password" />
      <label for="first_name">First Name</label>
      <input class ='form_text' type="text" id='first_name' name="first_name" />
      <label for="last_name">Last Name</label>
      <input class ='form_text' type="text" id='date' name="last_name" type='last_name' />
      <label for="email">Email</label>
      <input class ='form_text' type="text" id='email' name="email" />
      <label for="phone">Phone Number</label>
      <input class ='form_text' type="text" id='phone' name="phone" />
      <label for="bio">Bio</label>
      <textarea class ='form_text' type="text" id='bio' name="bio"> </textarea>
      <label for="age">Age</label>
      <input class ='form_text' type="text" id='age' name="age" />
      <label for="profile_image">Profile Image</label>
      <input class ='form_text' type="text" id='profile_image' name="profile_image" />
      <input class='form_submit' type="submit" value="Submit">
    </form>
  </div>
</div>
